torch>=2.2
numpy>=1.26,<2.0
pytorch-lightning==2.5.0
rdkit>=2024.3.2
requests==2.32.3
pandas>=2.2.2
einops==0.8.0
einx==0.3.0
click==8.1.7
pyyaml==6.0.2
biopython==1.84
scipy==1.13.1
numba==0.61.0
gemmi==0.6.5
scikit-learn==1.6.1
tqdm





